<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Drug Inventory</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    html {
      font-size: 62.5%;
    }

    body {
      font-family: sans-serif;
      padding-top: 2rem;
    }

    header,
    section {
      text-align: center;
    }

    section.drug-info {
      text-align: left;
      padding: 0 3rem;
      margin-bottom: 2rem
    }

    p.drug-row {
      display: flex;
      position: relative;
    }

    span.drug-field {
      font-weight: bold;
    }

    span.drug-detail {
      width: 300px;
    }

    h1 {
      font-size: 1.8rem;
    }

    h2 {
      font-size: 1.4rem;
    }

    p {
      font-size: 1rem;
      margin: 0;
      padding: 0;
    }

    .tg {
      border-collapse: collapse;
      border-spacing: 0;
      width: 90%;
      margin: 0 auto;
    }

    .tg td {
      font-family: Arial, sans-serif;
      font-size: 14px;
      padding: 5px 5px;
      border-style: solid;
      border-width: 1px;
      overflow: hidden;
      word-break: normal;
      border-color: black;
    }

    .tg th {
      font-family: Arial, sans-serif;
      font-size: 10px;
      font-weight: bold;
      padding: 5px 5px;
      border-style: solid;
      border-width: 1px;
      overflow: hidden;
      word-break: normal;
      border-color: black;
    }

    .tg .tg-yw4l {
      font-size: 8px;
      vertical-align: top
    }
  </style>
</head>

<body>
  <header>
    <h1>DRUG INVENTORY SHEET</h1>
  </header>
  <section class="drug-info">
    <p class="drug-row">
      <span class="drug-field">DRUG:</span>&nbsp;
      <span class="drug-detail"> {{drug.name}} </span>
    </p>
    <p class="drug-row">
      <span class="drug-field">CLINIC:</span>&nbsp;
      <span class="drug-detail">{{drug.clinic}}</span>
    </p>
    <p class="drug-row">
      <span class="drug-field">UNITS:</span>&nbsp;
      <span class="drug-detail">{{drug.units}}</span>
    </p>
  </section>
  <section>
    <table class="tg">
      <tr>
        <th class="tg-yw41">Date</th>
        <th class="tg-yw4l">Patient</th>
        <th class="tg-yw4l">MRN</th>
        <th class="tg-yw4l">Quantity</th>
        <th class="tg-yw4l">Lot #</th>
        <th class="tg-yw4l">Expiration</th>
        <th class="tg-yw4l">Pt. Ed.</th>
        <th class="tg-yw4l">Physician</th>
        <th class="tg-yw4l">Signature</th>
      </tr>

      {{#inventoryRows}}
        <tr>
          <td class="tg-yw4l">{{date}}</td>
          <td class="tg-yw4l">{{patientName}}</td>
          <td class="tg-yw4l">{{mrn}}</td>
          <td class="tg-yw4l">{{quantity}}</td>
          <td class="tg-yw4l">{{lotNumber}}</td>
          <td class="tg-yw4l">{{expiration}}</td>
          <td class="tg-yw4l">{{patientEducated}}</td>
          <td class="tg-yw4l">{{physician}}</td>
          <td class="tg-yw4l">{{signature}}</td>
        </tr>
      {{/inventoryRows}}

    </table>
  </section>
</body>

</html>